<!DOCTYPE html>
<html lang="nl">
<head>
    <title>De wereld is van mij</title>
</head>
<body>
    <div>
        <h1>Hallo wereld!</h1>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sL5Mz-H7_w8?si=sPnGZz658D-N0Cfl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div>
        <a href="/download/sales_report.pbix" style="display: block;">Download SalesReports PowerBI file</a>
        <a href="/download/product_and_store_insights.pbix" style="display: block;">Download ProductAndStoreInsights PowerBI file</a>
    </div>
    <div>
        <a href="https://github.com/Nrojt/United-Outdoors/archive/refs/heads/main.zip">Download Project file</a>
    </div>
    <div>
        <a href="/training/prediction">Training Predictions</a>
        <a href="/training/cluster">Training Cluster</a>
    </div>
</body>
</html>
