<!DOCTYPE html>
<html lang="nl">
<head>
    <title>De wereld is van mij</title>
</head>
<body>
    <div>
        <h1><a href="https://www.youtube.com/watch?v=sL5Mz-H7_w8">Hallo wereld!</a></h1>
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sL5Mz-H7_w8?si=sPnGZz658D-N0Cfl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div>
        <a href="/download/visualization.pbix">Download file</a>
    </div>
</body>
</html>
